[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
[submodule "content/حافظ-شیرازی"]
	path = content/حافظ-شیرازی
	url = git@github.com:saghiapp/hafez.git
